
div.fixed-heightx {
  height: 497px;
  width: 100%;
  border-style: none;
  background-color: #092f6d;
  color: white;
  overflow: hidden;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: -10px;
  /* border: 5px solid gray; */
}

.text-frame {
  height: 260px;
  width: 100%;
  text-align: center; 
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 5px;
  background-color: #5b7fa0;
  border: 1px solid black;
  box-shadow: 3px 3px #3a3b3d;
}

.line-gap {
  height: 15px;
}

div.show-graph {
  height: 500px;
  width: 100%;
  border-style: none;
  padding-top: 0px;
  padding-bottom: 0;
  background-color: aqua;
  overflow-x: auto;
  overflow-y: auto;

  padding-bottom: 200px;
}

div.flex-container {
  height: 500px;
  width: 100%;
  /* line-height: 150px; */
  list-style: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

row {
  width: 100%;
}

.flex-item {
  padding: 5px;
  width: 500px;
  height: 500px;
  margin: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}