.workarea-padding {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 10px;
  padding-top: 5px;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

div.starthere-padding {
  padding-left: 5px;
  padding-right: 5px;
}

div.top-padding-starthere {
  padding-top: 10px;
}

div.fixedsize-starthere-pic {
  height: 300px;
  width: 100%;
  background-color: rgb(245, 245, 228);
  overflow: auto;
  max-height: 300px;
}

div.demofixedsize {
  height: 370px;
  width: 100%;
  background-color: rgb(245, 245, 228);
  overflow: auto;
}

div.siteplan-fixedsize {
  height: 550px;
  width: 100%;
  background-color: rgb(245, 245, 228);
  overflow: hide;
  max-height: 550px;
}