.fixed-height {
  height: 500px;
  width: 100%;
  border-style: none;
  padding-top: 10px;
  padding-bottom: 0;
}

.space-at-top {
  height: 20px;
}

.space-between-buttons {
  height: 5px;
}

.control-btn-done {
  width: 130px;
  height: 35px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #db0202;
  color: white;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.6);
}

.control-btn-start {
  width: 130px;
  height: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #5b8209;
  color: white;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.6);
}

.control-btn-preview {
  width: 130px;
  height: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #4c5e77;
  color: white;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.6);
}

.control-btn-send {
  width: 130px;
  height: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #57774c;
  color: white;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.6);
}

.ctrl-panel-y {
  background-color: gray;
  height: 500px;
  margin-top: 2px;
  margin-left: -10px;
}

.header-shadow {
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.9);
}

.the-box-background {
  background-color: #282c34;
  padding-left: 1px;
  margin-left: none;
  height: 504px;
}

.vedio-msg {
  height: 50px;
  width: 100%;
  background-color: #efeada;
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
}

.sound-height {
  margin-top: 60px;
  margin-left: -8px;
  height: 400px;
  width: 100%;
  background: #2f3238;
}
